h1 {
    color: magenta;
    font-size: 36px;
}

h2 {
    color: black    
}

p {   
    font-size: 20px;
}

header {   
    background-color: #F0F8FF;
    background-image: url("../img/jumping_cats.jpg");    
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 140px 0 100px;
}

.section {
    padding: 60px 0 40px;
}

.first-section ul {
    background-color: #F7F9FC;
    margin-top: 25px;
    padding: 30px 55px;
    border-radius: 8px;

}

.first-section li {
    margin-bottom: 8px;
}

.first-section img {
    margin-bottom: 35px;
}

.first-section {
    background-color: #fff;
}

.second-section {
    background-color: #FBFBFB;
}

.second-section p {
    color: #9DA2A6;
}

.second-section img {
    height: 75px;
    margin: 25px 0 10px;
    width: 75px;
}

.nav-item {
    margin: 10px 16px;
}

@media (min-width: 100px) {
    .section {
        padding: 100px 0;
    }
}

@media (min-width: 576px) {
    h1 {
        font-size: 48px;
    }
    .section {
        padding: 100px 0;
    }
    header {
        padding: 200px 0;
    }
}

@media (min-width: 768px) {
    .first-section img {
        margin-bottom: 20px;
    }
}

@media (min-width: 992px) {
    .first-section img {
        margin-bottom: 0;
    }
}